.listitemstobi {
  width: 600px;
}

body {
  background-image: url('http://www.semarang.crowneplaza.com/images/600x400/weddings.dataphoto.30.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
